body {
	margin: 0;
	box-sizing: border-box;
	background-color:#d54fad;
	/* background-color: #d54fad;
	background: -webkit-linear-gradient(top, #ebe9f9 0%,#d8d0ef 50%,#cec7ec 51%,#c1bfea 100%); */
}
.heading {
	text-align: center;
	color: #ffffff;
}
.container {
	display: flex;
	justify-content: center;
	margin-block: 24px;
}
.content {
	display: none;
	display: flex;
	flex-direction: column;
	gap: 25px;
	width: 90%;
}
.playerA>div, .playerB>div{
	line-height: 200px;
	width: 100px;
}
.playerA,
.playerB {
	height: 220px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: aqua;
	font-size: 30px;
	gap: 8px;
	width: 950px;
}
.deckcontainer {
	position: relative;
	height: 190px;
	width: 72%;
	display: flex;
	justify-content: center;
	gap: 24px;
}
.middeck{
	justify-content: center;
	align-items: center;
}
.deck,
.middeck,
.maindeck {
	display: flex;
	width: 110px;
	height: 160px;
	background-color: #000000;
	font-size: 30px;
	color: aqua;
}
/* .usercard,
	.machinecard,
	.deckcard {
	display: flex;
	width: 110px;
	height: 160px;
	border: 2px solid #ffffff;
	background-color: #000000;
	font-size: 30px;
	color: #ffffff;
	
} */
.textStuct {
	display: flex;
	
	justify-content: center;
	font-size: 40px;
	height: 80px;
	
	width: 110px;
	color: rgb(1, 0, 0);
	margin-top: 38px;
}
.colLabel {
	position: absolute;
	left: 80px;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
}
.redButton,
.blueButton,
.greenButton,
.yellowButton {
	height: 30px;
	width: 30px;
	position: absolute;
	top: 30px;
	border-radius: 5px;
	border: 2px solid #ffffff;
}
.redButton {
	left: 80px;
	background-color: red;
}

.blueButton {
	left: 120px;
	background-color: blue;
}

.greenButton {
	left: 160px;
	background-color: green;
}

.yellowButton {
	left: 200px;
	background-color: yellow;
}
.colTitle {
	position: absolute;
    top: 20px;
    right: 150px;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
}
.selectedCol {
	position: absolute;
	top: 50px;
	right: 200px;
	height: 30px;
	width: 30px;
	border-radius: 5px;
	border: 2px solid #ffffff;
}
.pass{
	position: absolute;
	top: 100px;
	right: 230px;
	display: none;
}
.colPic{
	display: none;
}
.choosenCol{
	display: none;
}
.uno{
	position: absolute;
	top: 100px;
	right: 150px;
	display: none;
}